<div>
    <h3 class="text-2xl font-bold my-4">Preferences</h3>
    <div class="rounded-lg shadow-sm border border-gray-200 p-4 max-w-96">
        <ul>
            @if (preferenceList && preferenceList.length > 0) {
                @for (preference of preferenceList; track $index) {
                    <li [id]="'pref-'+preference.id">
                        {{ preference.name[0].toUpperCase() + preference.name.substr(1).toLowerCase() }} @if (preference.allergy) { allergy }
                        <input [id]="'check-'+preference.id" type="checkbox" (click)="preferenceToggled(preference.id)"> Important? <input [id]="'important-'+preference.id" type="checkbox" disabled="true">
                    </li>
                }
            } @else {
                Loading...
            }
        </ul>
        <button class="mt-4 flex items-center gap-1 px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 disabled:opacity-50 disabled:cursor-not-allowed transition-colors" id="save" (click)="saveChanges()">Save changes</button>

    </div>
</div>