<!-- First, add a check for if recipe exists to avoid errors -->
@if (recipe) {

  <h1>{{ recipe.title }}</h1>

    <!-- For images -->
    <img [src]="recipe.image" [alt]="recipe.title">
    
    <div class="recipe-details">
      <p>Summary:</p>
      <div [innerHTML]="recipe.summary | safeHtml"></div>
      <p>Cooking Time: {{ recipe.cookingMinutes }} minutes</p>
      
      <!-- For arrays, you can use *ngFor -->
      <h2>Ingredients:</h2>
      <ul>
        @for (ingredient of recipe.extendedIngredients; track $index) {
        <li>
          {{ ingredient.nameClean }}
        </li>
        }
      </ul>

      <h2>Instructions:</h2>
      @if (recipe.analyzedInstructions) {
        <ol>
          @for (instruction of recipe.analyzedInstructions[0].steps; track $index) {
          <li>
            {{ instruction.step }}
          </li>
          }
        </ol>
      }
  
      <!-- For nested objects -->
      <div class="nutrition">
        <p>Calories: {{ recipe.nutrition.nutrients[0].amount }}</p>
        <p>Protein: {{ recipe.nutrition.nutrients[1].amount }}g</p>
      </div>
      
    </div>

    <button id="like-button" (click)="like()">Like</button>
    <button id="request-button" (click)="showRequestForm()">Request</button>

    <div id="request-form" style="display:none">
      Date:<input type="date" id="date" [disabled]="!includeDate"><br>
      Include date? <input type="checkbox" [(ngModel)]="includeDate"><br>
      Mealtime: <select id="mealtime-option">
        <option value="none">None</option>
        @for (mealtime of mealtimes; track $index) {
          <option [value]="mealtime.id">{{ mealtime.mealtime }}</option>
        }
      </select><br>
      Comment: <textarea id="comment"></textarea><br>
      <button (click)="request()">Make request</button>
    </div>
}
  
  <!-- Optional: Show loading state -->
@if (!recipe) {
    <p>Loading recipe...</p>
}

