<div id="user-data">
    <h3>Personal Info</h3>
    Name: {{firstName}} {{lastName}} <br>
    Email: {{email}} <br>
    Family: {{familyName}} <br>
    User Type:
    @if (userType.length > 0) { <!-- Trying to get the first char of an empty string will cause errors -->
        {{userType[0].toUpperCase() + userType.substr(1).toLowerCase()}}
    }
    <h3>Family Members</h3>
    <ul id="family">
        @for (familyMember of family; track $index) {
            {{familyMember.first_name}} {{familyMember.last_name}}
        }
    </ul>
</div>
<app-likedmeals></app-likedmeals>
<app-preferences></app-preferences>