<div class="p-4 lg:p-6" id="user-data">
    <h3 class="text-2xl font-bold my-4">Personal Info</h3>
    <div class="space-y-1">
        <p><span class="font-medium">Name: </span>{{firstName}} {{lastName}}</p>
        <p><span class="font-medium">Email: </span>{{email}} </p>
        <p><span class="font-medium">Family: </span>
            @if (familyName) { 
                {{familyName}}
            } @else {<a href="/family" class="text-blue-600">Add a family</a>} </p>
        <p><span class="font-medium">User Type: </span>
            @if (userType) {
                {{userType[0].toUpperCase() + userType.substr(1).toLowerCase()}}
            } @else if (familyName) {
                Assign a user type
            } @else {
                Add a family
            }
        </p>
    </div>
    <h3 class="text-2xl font-bold my-4">Family Members</h3>
    <ul id="family space-y-2">
        @for (familyMember of family; track $index) {
            <li>{{familyMember.first_name}} {{familyMember.last_name}}</li>
        }
    </ul>
    <a href="/family" class="text-blue-600">See your family page</a>

<app-likedmeals></app-likedmeals>
<app-preferences></app-preferences>

</div>