<div id="input-request">
    <h3>Make a request</h3>
    Date:
    <input type="date" id="date" [disabled]="!includeDate"><br>
    Include date?
    <input type="checkbox" id="include-date" [(ngModel)]="includeDate"><br>
    Mealtime:
    <select id="mealtime-option">
        <option value="none">None</option>
        @for (mealtime of mealtimes; track $index) {
            <option [value]="mealtime.id">{{mealtime.mealtime}}</option>
        }
    </select><br>
    Comment:
    <textarea id="comment"></textarea><br>
    Cuisine:
    <select id="cuisine-option">
        <option value="none">None</option>
        @for(cuisine of cuisines; track $index) {
            <option [value]="cuisine.name">{{cuisine.name}}</option>
        }
    </select><br>
    <button (click)="makeRequest()">Make request</button><br>
    Want to request a specific recipe? <a routerLink="/recipes">Find some here!</a>
</div>
<div id="existing-requests">
    <h3>Requests</h3>
    <button (click)="loadRequests()">Refresh</button>
    @if (requestsLoaded) {
        <ul>
            @for (request of requests; track $index) {
                <li>
                Request by {{request.user_name}}<br>
                @if(request.meal_id) {
                    {{request.meal_title}}<br>
                    <img [src]="request.meal_image" width="150px"> <br>
                }
    
                Date:
                @if (request.date) {
                    {{request.date}}
                } @else {
                    No specific date
                }<br>
    
                Mealtime:
                @if(request.mealtime) {
                    {{request.mealtime.toUpperCase()[0] + request.mealtime.substr(1).toLowerCase()}}
                } @else {
                    No specific mealtime
                }<br>
    
                Comment:
                @if(request.comment && request.comment != "") {
                    {{request.comment}}
                } @else {
                    No comment
                }<br>
    
                @if (request.cuisine) {
                    Cuisine: {{request.cuisine}}<br>
                }
    
                @if (userTypeId == 1 || request.user_id == userId) { <!-- Delete button only shown for own requests, all if user is adult -->
                    <button (click)="deleteRequest(request.id)">Delete</button>
                }
    
                </li>
            }
        </ul>
    } @else {
        Loading requests...
    }
    
</div>