<div>

    <input id="query" type="text" placeholder="Search recipes..." [(ngModel)]="query"/>
    <h1>Recipes</h1>
    <button (click)="fetchRecipes()">Load Recipes</button>


    <!-- Show loading message -->
    @if (loading) {
      <p>Loading recipes...</p>
    }

    <!-- Display recipes -->
    <div>
        <ul class="recipe-list">
        @for (recipe of smallRecipes.results; track recipe.id) {

                <li class="recipe-item">
                  <h3>{{ recipe.title }}</h3>
                  <img 
                    [src]="recipe.image" 
                    [alt]="recipe.title" 
                    width="150" 
                    (click)="getRecipeDetails(recipe.id)"
                    class="recipe-image"
                  >
                  @if (expandedMeal === recipe.id) {
                    <div class="recipe-details">
                      @if (selectedMeal(); as meal) {
                        <p><strong>Summary:</strong></p>
                        <div [innerHTML]="meal.summary | safeHtml"></div>
                        <a [routerLink]="['/recipe', recipe.id]" target="_blank">View Recipe</a>
                      } @else {
                        <p>Loading recipe details...</p>                      
                      }
                    </div>
                  }
              </li>
        }
        </ul>
    </div>

    <!-- Fallback if no recipes -->
    <ng-template #noRecipes>
      <p>No recipes found. Try a different search.</p>
    </ng-template>
  </div>