<div class="p-4 lg:p-6">

  <!-- Header -->
  <h2 class="text-3xl font-bold mb-4">Recipes</h2>
  <div class="flex items-center gap-2">
    <input class="bg-gray-50 border max-w-80 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" id="query" type="text" placeholder="Search recipes..." [(ngModel)]="query"/>
    <button class="flex items-center gap-1 px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500 disabled:opacity-50 disabled:cursor-not-allowed transition-colors"
      (click)="fetchRecipes()">Load Recipes</button>
  </div>

  <!-- Show loading message -->
  @if (loading) {
    <p>Loading recipes...</p>
  }

  <!-- Display recipes -->
  <div>
    <ul class="recipe-list flex flex-wrap justify-content-between mt-4">
      @for (recipe of smallRecipes.results; track recipe.id) {

        <!-- check if meal should be expanded -->
        @if (expandedMeal === recipe.id) {

          <!-- the expanded meal that shows more information -->
          <li class="recipe-item flex flex-wrap justify-between flex-direction-row w-max p-3 bg-logo-pastel dark:bg-logo-pastel rounded-lg shadow-lg border border-border hover:cursor-pointerhover:shadow-xl transition-shadow">
            <div class="flex justify-between items-center">
              <div class="">

                <!-- title and image -->
                <h3 class="text-3x1 font-bold my-2">{{ recipe.title }}</h3>
                <img 
                  [src]="recipe.image" 
                  [alt]="recipe.title"  
                  (click)="getRecipeDetails(recipe.id)"
                  class="recipe-image w-40"
                >

                <!-- Summary and link to the recipe page -->
                <div class="recipe-details">
                  @if (selectedMeal(); as meal) {
                    <p class="text-lg font-bold my-2">Summary:</p>
                    <div [innerHTML]="meal.summary | safeHtml"></div>
                    <a class="flex items-center gap-1 px-4 py-2 bg-white text-link rounded-md hover:bg-logo disabled:opacity-50 disabled:cursor-not-allowed transition-colors" [routerLink]="['/recipe', recipe.id]">View Recipe</a>
                  }
                </div>                
              </div>
            </div>
          </li>

        <!-- All the non-expanded meals -->
        } @else {
          <li class="recipe-item flex flex-wrap justify-content-between flex-direction-row lg:w-[23%] md:w-[31%] w-[45%] p-3 m-2 bg-logo-pastel dark:bg-logo-pastel rounded-lg shadow-lg border border-border hover:bg-logo hover:cursor-pointer hover:shadow-xl transition-shadow" (click)="getRecipeDetails(recipe.id)">
            <div class="flex justify-between items-center">
              <div class="">

                  <!-- title and image -->
                  <h3 class="text-2x1 font-bold my-2">{{ recipe.title }}</h3>
                  <img 
                    [src]="recipe.image" 
                    [alt]="recipe.title"
                    class="recipe-image w-40"
                  >
              </div>
            </div>
          </li>
        }
      }
    </ul>
  </div>

  <!-- Fallback if no recipes -->
  <ng-template #noRecipes>
    <p>No recipes found. Try a different search.</p>
  </ng-template>
</div>