@if (likedMeals) {
    <h3>Liked Meals</h3>
    <!-- TODO use bootstrap or change custom CSS to make this list scrollable horizontally (?) -->
    <div id="liked-meals">
        @for (meal of likedMeals; track $index) {
            <div class="liked-meal" [id]="'like-'+meal.id">
                <a [routerLink]="'/recipe/' + meal.id">{{meal.title}} </a>
                <a [routerLink]="'/recipe/' + meal.id"><img [src]="meal.image" width="150px"></a>
                <button [id]="'unlike-'+meal.id" (click)="unlikeClicked(meal.id)">Unlike</button>
            </div>
        }
    </div>
}
