<div class="dropdown" clickOutside (clickOutside)="closeDropdown()">
    <i class="fa fa-bars" (click)="toggleDropdown()"></i>
    <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="/recipes" routerLinkActive="active-link">Recipes</a></li>
        <li><a routerLink="/calendar" routerLinkActive="active-link">Calendar</a></li>
        <li><a routerLink="/request" routerLinkActive="active-link">Requests</a></li>
        <li><a routerLink="/user" routerLinkActive="active-link">User</a></li>
        <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
    </ul>
</div>